{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Gerenciar Usuários{% endblock %}

{% block content %}

<h4 class="container">Lista de Usuários</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Usuário</th>
            <th>Email</th>
            <th>Nível</th>
            <th>Ativo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for u in usuarios %}
            <tr>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td>{% if u.is_gerente %}Gerente{% else %}Usuário{% endif %}</td>
                <td class="text-center">
                    {% if u.is_active %}
                        <i class="bi bi-check-circle-fill text-success"></i>
                    {% else %}
                        <i class="bi bi-x-circle-fill text-danger"></i>
                    {% endif %}
                </td>
                <td>
                    {% if request.user.id != u.id %}
                        {% if u.is_active %}
                            <a class="btn btn-warning btn-sm me-1" href="{% url 'desativar_usuario' u.id %}">
                                <i class="bi bi-lock-fill"></i> Desativar
                            </a>
                        {% else %}
                            <a class="btn btn-success btn-sm me-1" href="{% url 'reativar_usuario' u.id %}">
                                <i class="bi bi-unlock-fill"></i> Reativar
                            </a>
                        {% endif %}
                        <a class="btn btn-danger btn-sm" href="{% url 'excluir_usuario' u.id %}">
                            <i class="bi bi-trash-fill"></i> Excluir
                        </a>
                    {% else %}
                        <small>(você)</small>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <a href="{% url 'registrar' %}" class="btn btn-success mt-3 btn-sm">+ Adicionar Usuários</a>
</div>

{% endblock %}
