<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Agendamento PDF</title>
    <style>
        body { font-family: sans-serif; font-size: 15px; }
        h1 { text-align: center; }
        .dados { margin-top: 20px; }
    </style>
</head>
<body>
    <h1 style="font-size: 30px">Agendamento N°: {{ agendamento.id }}</h1>
    <div class="dados">
        <p style="font-size: 25px; text-decoration: underline"><strong>Data:</strong> {{ agendamento.data_hora|date:"d/m/Y" }}</p>

        {% if agendamento.galpao %}
            <p><strong>Galpão:</strong> {{ agendamento.galpao }}</p>
        {% endif %}

        <p><strong>Fornecedor:</strong> {{ agendamento.fornecedor }}</p>
        <p><strong>Transportadora:</strong> {{ agendamento.transportadora }}</p>
        <p><strong>Pedido:</strong> {{ agendamento.pedido }}</p>
        <p><strong>Nota Fiscal:</strong> {{ agendamento.nota_fiscal }}</p>
        <p style="font-size: 25px; text-decoration: underline"><strong>Status:</strong> {{ agendamento.status }}</p>
        <hr>
        <h3>Produtos:</h3>
        {% for item in agendamento.itens.all %}
            <p>
                <strong>{{ item.mercadoria }}</strong><br>
                Quantidade: {{ item.quantidade }}<br>
                Cubagem: {{ item.cubagem }}
            </p>
        {% endfor %}
        <hr>
        <p><strong>Total de Cubagem:</strong> {{ agendamento.cubagem_total }}</p>
        <p><strong>Total de Quantidade:</strong> {{ agendamento.quantidade_total }}</p>
    </div>
</body>
</html>
